<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户详情</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
    <link rel="stylesheet" href="__PUBLIC__/Home/iconfont/iconfont.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/amazeui/assets/css/amazeui.css">
    <link rel="stylesheet" href="__PUBLIC__/Coms/css/users/css/userDetail.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/common.css">
</head>
<body>
    <div class="main">
        <!-- 用户信息 -->
        <div class="userInfos">
            <p>用户信息</p>
            <ul>
                <li>
                    <span>用户名：</span>
                    <span>{{$user_info.name}}</span>
                </li>
                <li>
                    <span>手机号码：</span>
                    <span>{{$user_info.phone}}</span>
                </li>

            </ul>
        </div>
        <volist name="dev_list" id="vo">
        <!-- 设备信息 -->
        <div class="deviceInfo">
            <div>
                <p>设备-{{$i}}</p>
                <ul>
                    <li>
                        <span>设备编码：</span><span>{{$vo.device_code}}</span>
                    </li>
                    <li>
                        <span>绑定时间：</span><span>{{$vo['bindtime']|date="Y-m-d",###}}</span>
                    </li>
                    <li>
                        <span>原水TDS值：</span><span>{{$vo['reflow']['rawtds']}}</span>
                    </li>
                    <li>
                        <span>纯水TDS值：</span><span>{{$vo['reflow']['puretds']}}</span>
                    </li>

                </ul>
                <div class="serviceStatus">
                    <span class="serviceTitle">滤芯详情：</span>
                    <ul class="am-avg-sm-3 am-thumbnails">

                        <li class="am-thumbnail">
                            <p class="container1">
                            </p>
                            <span>{{$vo.type_name.filter1}}</span>
                        </li>
                        <li class="am-thumbnail">
                            <p class="container2">
                            </p>
                            <span>{{$vo.type_name.filter2}}</span>
                        </li>
                        <li class="am-thumbnail">
                            <p class="container3">
                            </p>
                            <span>{{$vo.type_name.filter3}}</span>
                        </li>
                        <li class="am-thumbnail">
                            <p class="container4">
                            </p>
                            <span>{{$vo.type_name.filter4}}</span>
                        </li>
                        <li class="am-thumbnail">
                            <p class="container5">
                            </p>
                            <span>{{$vo.type_name.filter5}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </volist>


    </div>
    <script src="__PUBLIC__/Home/js/jquery.min.js"></script>
    <script src="__PUBLIC__/Home/js/public.js"></script>
    <script src="__PUBLIC__/Home/js/vue.min.js"></script>
    <script src="__PUBLIC__/Home/js/progressbar.min.js"></script>
    <script src="__PUBLIC__/Coms/js/users/userDetail.js"></script>


</body>
</html>