<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户详情</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
    <link rel="stylesheet" href="__PUBLIC__/Home/iconfont/iconfont.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/amazeui/assets/css/amazeui.css">
    <link rel="stylesheet" href="__PUBLIC__/Coms/css/users/css/userDetail.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/common.css">
</head>
<body>
    <div class="main">
        <!-- 用户信息 -->
        <div class="userInfos">
            <p>用户信息</p>
            <ul>
                <li>
                    <span>用户名：</span>
                    <span v-text='userList.name'></span>
                </li>
                <li>
                    <span>手机号码：</span>
                    <span v-if='!userList.phone'>手机号为空</span>
                    <span v-if='userList.phone' v-text='userList.phone'></span>
                </li>

            </ul>
        </div>
        <!-- 设备信息 -->
        <div class="deviceInfo" v-for='(d, index) in devicesList'>
            <div>
                <p>设备-<span v-text='index+1'></span></p>
                <ul>
                    <li>
                        <span>设备编码：</span><span v-text='d.device_code'></span>
                    </li>
                    <li>
                        <span>绑定时间：</span><span v-text='d.bindtime'></span>
                    </li>
                    <li>
                        <span>原水TDS值：</span>
                            <span v-if='!d.reflow' v-text='"查无数据"'></span>
                            <span v-if='d.reflow' v-text='d.reflow.rawtds'></span>
                        </span>
                    </li>
                    <li>
                        <span>纯水TDS值：</span>
                        <span v-if='!d.reflow' v-text='"查无数据"'></span>
                        <span v-if='d.reflow' v-text='d.reflow.puretds'></span>
                    </li>

                </ul>
                <div class="serviceStatus">
                    <span class="serviceTitle">滤芯详情：</span>
                    <ul class="am-avg-sm-3 am-thumbnails">
                        <li class="am-thumbnail" v-for='(f, ind) in devicesList.filter[index]'>
                            <p :id='"container" + index + ind'>
                            </p>
                            <span v-text='f.name'></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/Home/js/jquery.min.js"></script>
    <script src="__PUBLIC__/Home/js/public.js"></script>
    <script src="__PUBLIC__/Home/js/vue.min.js"></script>
    <script src="__PUBLIC__/Home/js/progressbar.min.js"></script>
    <script>
        // 获取数据
        function getDetail(callback){
            $.ajax({
                url: '{{:U("Coms/Users/userDetailTo")}}',
                type: 'get',
                data: {uid: getQuery().uid},
                success: function(res){
                    console.log('res: ',res);
                    if(res.code == 200){
                        callback(res.user_data, res.data);
                        
                    }
                },
                error: function(err){
                    console.log('err: ',err);
                }
            })
        }
    </script>
    <script src="__PUBLIC__/Coms/js/users/userDetail.js"></script>
</body>
</html>