<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no minimal-ui">
	<style>
		* {
			margin: 0;
			padding: 0;
		}
		.box {
			width: 100%;
			height: 300px;
			overflow-y: scroll;
			list-style: none;
			border: 1px solid gray;
		}
		ul > li {
			width: 100%;
			height: 100px;
			text-align:center;
			line-height: 100px;
		}
		.henggang {
			height: 100px;
			position: absolute;
			width: 100%;
			border-top: 1px solid black;
			border-bottom: 1px solid black;
			top: 100px;
			z-index: -1;
		}

	</style>
</head>
<body>
	<div class="box">
		<ul>
			<li></li>
			<li>1</li>
			<li>2</li>
			<li>3</li>
			<li>4</li>
			<li>5</li>
			<li></li>
		</ul>
		<div class="henggang"></div>
	</div>
</body>
<script src="../../Public/js/jquery.min.js"></script>
<script>
	var box = document.getElementsByClassName("box")[0];
	var first, end, scrollTops;
	box.addEventListener("touchstart", function(e) {
		var ev = e || window.e;
		first = ev.targetTouches[0].pageY; 
	}, false);
	box.addEventListener("touchmove", function(e) {
		var ev = e || window.e;
		top =( $("ul").offset().top / 100 ) + 1;
		console.log(top)
	}, false);
	box.addEventListener("touchend", function(e) {
		var ev = e || window.e;
		end = ev.changedTouches[0].pageY;
	}, false);

</script>
</html>