<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>下载APP</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
	<link rel="stylesheet" href="__PUBLIC__/Home/iconfont/iconfont.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/common.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/pay/css/installApp.css">
</head>
<body>
	<div class="main">
        <div class="shareTop">
            <!-- 图片 -->
            <div class="shareWeima">
                <img src="" alt="">
            </div>
        </div>
        <div class="shareBottom">
            <a href="####">
                <span class="iconfont icon-ai-app"></span>
                <span>Android 下载</span>
            </a>
        </div>
    </div>
</body>
<script src="__PUBLIC__/Home/js/public.js"></script>
<script>
	
</script>
</html>