<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>租赁水机</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
	<link rel="stylesheet" href="__PUBLIC__/Home/iconfont/iconfont.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/amazeui/assets/css/amazeui.min.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/common.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/pay/css/lease.css">
</head>
<body>
	<div class="main" v-cloak>
		<!-- <ul id='share'> 
			<li><img src="__PUBLIC__/Home/images/share1.jpg" alt=""></li>
			<li><img src="__PUBLIC__/Home/images/share2.jpg" alt=""></li>
			<li><img src="__PUBLIC__/Home/images/share3.jpg" alt=""></li>
			<a class='sharebuy' href='{{:U("Home/Users/buyinfo")}}'>立即<br/>购买</a>
		</ul> -->
		<!-- 主题内容 -->
		<div class="mainContent">
			<div class="aboutMeal">
				<ul id='share'> 
					<li><img src="__PUBLIC__/Home/images/share1.jpg" alt=""></li>
					<li><img src="__PUBLIC__/Home/images/share2.jpg" alt=""></li>
					<li><img src="__PUBLIC__/Home/images/share3.jpg" alt=""></li>
					<!-- <a class='sharebuy' href='{{:U("Home/Users/buyinfo")}}'>立即<br/>购买</a> -->
				</ul>
			</div>
			<!-- 选择套餐 -->
			<ul class="selectMeal">
				<li class="mealTitle">
					<span class="iconfont icon-taocan"></span>
					<p>选择套餐</p>
				</li>
				<li class="mealDetail">
					<!-- 遍历套餐 -->
					<ol class="am-avg-sm-2 am-thumbnails">
						<li v-for="(mealSets, index) in mealSet">
							<p class="am-thumbnail selectMel" @click="chooseMeal" :mealId="mealSets.id">{{mealSets.describe}}</p>
						</li>
					</ol>
				</li>
				<li><p class="confirmSelect" @click='confirmSelects'>确定选择</p></li>
			</ul>
		</div>
		
		<!-- 租赁协议 -->
		<div class="monikuan" style="display: none;">
			<div class="buyProtocal">
				<h1>购买协议</h1>
				<div class="protocalContent"> 购销合同是买卖合同的变化形式，它同买卖合同的要求基本上是一致的。主要是指供方（卖方）同需方（买方）根据协商一致购销合同是买卖合同的变化形式，它同买卖合同的要求基本上是一致的。主要是指供方（卖方）同需方（买方）根据协商一致</div>
				<div class="behavior">
					<p class="refuse" @click="refuse">拒绝</p>
					<p class="accept" @click="accepts">同意</p>
				</div>
			</div>
		</div>
	</div>	
</body>
<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
<script src="__PUBLIC__/Home/js/public.js"></script>
<script src="__PUBLIC__/Home/js/vue.min.js"></script>
<!-- <script src="__PUBLIC__/Home/js/pay/lease.js"></script> -->
<script>
	var code = "{{$_GET['code']}}";

	
	window.onload = function() {
		// 窗口高度
		var clientHeight = document.documentElement.clientHeight + 'px';
		// body高度为窗口高度
		document.getElementsByTagName("body")[0].style.height = clientHeight;
		var vm = new Vue({
			el: '.main',
			data: {
				meal:'',
				mealSet: '', //套餐列表
				succFlag: true //防止多次点击同意提交
			},
			mounted(){
				var _this = this;
				// 请求套餐列表
				$.get("{{:U('Home/pay/Waterlist')}}", function(res) {
					if(res.status == 200) {
						_this.mealSet = res.list;
						// 请求数据后调用获取对象函数
						getObj();
					}else if(res.status == 201) {
						
					}
				});
				// 获取对象
				function getObj(){
					setTimeout(function(){
						var mealContent = document.querySelectorAll(".selectMel");
						// 默认选中第一个套餐
						$(mealContent).eq(0).attr('class','mealselect');
					},0);
				}
				
			},
			methods: {
				// 点击同意时模拟框消失并且跳入下一步
				accepts: function() {
					var _this = this;
					// 套餐id
					var meal_id = $('.mealselect').attr("mealId");
					if(_this.succFlag) {
						_this.succFlag = false;
						// 提交数据并跳转
						$.ajax({
							url: "{{:U('Home/Pay/setMeal')}}",
							type: "post",
							data: {setMealId: meal_id,code:code},
							success: function(res) { 
								// 恢复提交
								_this.succFlag = true;
								console.log("成功",res);
								if(res.status == 200) {
									// 判断路径是否有has
									if(window.location.search) {
										if(window.location.search.indexOf("has") != -1) {
											location.href = '{{:U("Home/Pay/buyinfo")}}' + '?has';
										}
									}else {
										// 成功跳转下一个页面
										location.href = '{{:U("Home/Pay/buyinfo")}}';
									}
									
								}else if(res.status == 201){
									noticeFn({text: res.msg});
								}
								
							},
							error: function(res) {
								// 恢复提交
								_this.succFlag = true;
								console.log("失败", res);
							}
						})
					}
					
				},
				// 确认选择 提交内容
				confirmSelects: function() {
					$(".monikuan").css("display", "flex");
				},
				// 点击拒绝协议时弹出协议消失，并停留本页面
				refuse: function() {
					$(".monikuan").css("display", "none");
				},
				// 选择套餐
				chooseMeal: function(ev) {
					var target = ev.target || ev.srcElement;
					$(target).attr('class','mealselect');
					$(target).parent().siblings().children().attr("class", "");
				}
			},
			computed: {}
			
		});
	}
</script>
</html>