<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
	<title>我的订单</title>
	<link rel="stylesheet" href="__PUBLIC__/Home/css/pay/css/order.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/amazeui/assets/css/amazeui.min.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/common.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/iconfont/iconfont.css">
	<script> 
		// 获取状态 0-全部,1-待付款,2-待发货,3-待收货
		var data_status = "{{$_GET['status']}}";
	</script>
</head>
<body>
<div id="app" v-cloak>
<!-- 头部导航栏部分开始 -->
	<!-- <div class="obligation_nav_bg">
		<div class="obligation_nav_content">
			<ul class="line">
				<li data-name="all" num="" @touchstart='touchStart'>全部</li>
				<li data-name="pay" num="1" @touchstart='touchStart'>待付款<div></div></li>
				<li data-name="send" num="2" @touchstart='touchStart'>待发货<div></div></li>
				<li data-name="take" num="3" @touchstart='touchStart'>待收货<div></div></li>
				<div class="line_check"></div>
			</ul>
		</div>
	</div> -->
<!-- 头部导航栏部分结束 -->

<!--  产品详情部分开始 -->
	<div class="obligation_container">

	<!-- 待收货部分开始(交易完成) -->
		<!-- <div class="obligation_content take_page" v-for="(order_take_info,index_all) in all_take"> -->

			<!-- 订单时间 -->
			<!-- <p id="replace_success">订单编号：{{order_take_info.order_number}}</p> -->
			<!-- <p id="replace_success">订单编号：{{order_take_info.order_id}}</p>

			<p>订单时间：{{order_take_info.created_at}}</p>
			<p class="border_line">
				<!- 订单编号 -->
				<!-- <span>顺丰快递单：{{order_take_info.courier_number}}</span>
				<span>卖家已发货</span>
			</p> -->
			<!-- <div class="product_box" v-for="(take_info,index) in order_take_info.product_info"></div> -->
			<!-- <div class="product_box"  v-if="order_take_info.type == 0">
				<div class="am-u-sm-4">
					<img :src="order_take_info.money" alt="">
				</div>
				<div class="am-u-sm-8"> -->
					<!-- 产品名 -->
					<!-- <h4>{{order_take_info.goods_title}}</h4> -->
					<!-- 产品描述 -->
					<!-- <div class="product_div1">{{order_take_info.goods_detail}}</div> -->
					<!-- <p> -->
						<!-- 产品单价 -->
						<!-- <span><i class="iconfont icon-rmb" style="fontSize:0.29866667rem;"></i>{{order_take_info.goods_price}}</span> -->
						<!-- 产品个数 -->
						<!-- <span style="color:#f00;">X{{order_take_info.goods_num}}</span> -->
					<!-- </p> -->
				<!-- </div> -->
			<!-- </div> -->
			<!-- <div class="flow_box border_line" v-for="(flow_info,index_flow) in order_take_info.flow_info"></div> -->
			<!-- <div class="flow_box border_line"  v-else-if="order_take_info.type == 2">
				<span>{{order_take_info.describe}}</span>
				<span><i class="iconfont icon-rmb" style="fontSize:0.29866667rem;"></i>{{order_take_info.money}}</span>
				<span>X 1</span>
			</div> -->
			<!-- <div class="product_total">
				<div>
					<p class="am-u-sm-3">&nbsp;</p> -->
					<!-- 产品个数 -->
					<!-- <p class="am-u-sm-4" class="chang_1">共1件商品</p> -->
					<!-- 总价钱 -->
					<!-- <p class="am-u-sm-5" style="text-align:right;">小计：<span><i class="iconfont icon-rmb" style="fontSize:0.29866667rem;"></i>{{order_take_info.money}}</span></p> -->
				<!-- </div> -->
				<!-- <div><span>(含邮费：<span class="express_fee_text">{{order_take_info.franking}}</span>元)</span></div> -->
			<!-- </div> -->
			<!-- <div class="sign_take">交易完成</div> -->
		<!-- </div> -->
	<!-- 待收货部分结束(交易完成) -->

	<!-- 待付款部分开始(未支付) -->
		<div class="obligation_content pay_page" v-for="(order_pay_info,index_all) in all_pay">
			<!-- <div class="obligation_content pay_page" v-for="order_pay_info of all_pay"> -->
			<!-- 订单时间 -->
			<p id="replace_pay">订单编号：{{order_pay_info.order_id}}</p>
			<p class="border_line">
				<!-- 订单编号 -->
				<span>订单时间：{{order_pay_info.created_at}}</span>
				<!-- 待付款 status=0 -->
				<span v-if="order_pay_info.status == 0 && order_pay_info.type == 1">等待买家付款</span>
				<!-- 待发货 status=1 -->
				<span v-if="order_pay_info.status == 1  && order_pay_info.type == 1">买家已付款</span>
				<!-- 待收货 status=2 -->
				<!-- 快递单号 -->
				<span v-if="order_pay_info.status == 2 && order_pay_info.type == 1">顺丰快递单：{{order_pay_info.mca}}</span>
				<span v-if="order_pay_info.status == 2  && order_pay_info.type == 1">卖家已发货</span>
			</p>
			<!-- 先不要删 -->
			<!-- <div class="product_box" v-for="(pay_info,index) in order_pay_info.product_info"> -->
			<!-- 产品 type=1 -->
			<div class="product_box" v-if="order_pay_info.type == 1">
				<div class="am-u-sm-4">
					<img :src="order_pay_info.goods_img" alt="">
				</div>
				<div class="am-u-sm-8">
					<!-- 产品名 -->
					<h4>{{order_pay_info.goods_title}}</h4>
					<!-- 产品描述 -->
					<div class="product_div1">{{order_pay_info.goods_detail}}</div>
					<p>
						<!-- 产品单价 -->
						<span><i class="iconfont icon-rmb" style="fontSize:0.29866667rem;"></i>{{order_pay_info.goods_price/100}}</span>
						<!-- 产品个数 -->
						<span style="color:#f00;">X{{order_pay_info.goods_num}}</span>
					</p>
				</div>
			</div>
			
			<!-- 先不要删 -->
			<!-- <div class="flow_box border_line" v-for="(flow_info,index_flow) in order_pay_info.flow_info"></div> -->
			<!-- 套餐 type=2 -->
			<div class="flow_box border_line" v-else-if="order_pay_info.type == 2">
				<span>{{order_pay_info.describe}}</span>
				<span><i class="iconfont icon-rmb" style="fontSize:0.5rem;"></i>{{order_pay_info.money}}</span>
				<span class="jiage">X 1
			</div>
			<!-- 合计 -->
			<div class="product_total">
				<div>
					<p class="am-u-sm-3">&nbsp;</p>
					<!-- 产品个数 -->
					<p class="am-u-sm-4 chang_1" :num="index_all" id="total_pay">共1件商品</p>
					<!-- 总价钱 -->
					<p class="am-u-sm-5" style="text-align:right;">合计：<span><i class="iconfont icon-rmb" style="fontSize:0.29866667rem;"></i>{{order_pay_info.money}}</span></p>
				</div>
				<!-- <div><span>(含邮费：<span class="express_fee_text">{{order_pay_info.franking}}</span>元)</span></div> -->
			</div>

			<div class="product_btn" v-if="order_pay_info.status == 0 && order_pay_info.type == 1">
				<p class="cancel" @click="cancel_show($event, index_all)" style="lineHeight:0.9rem;" :orderid='order_pay_info.order_id'>取消订单</p>
				<p class="pay" @click="pay_show($event,index_all)" :num="index_all" :orderid='order_pay_info.order_id' :money='order_pay_info.money'>支付订单</p>
			</div>
			<!-- 代付款时 status=0 -->
			<div class="product_btn" v-if="order_pay_info.status == 0 && order_pay_info.type == 2">
				<p class="cancel" @click="cancel_show($event, index_all)" style="lineHeight:0.9rem;" :orderid='order_pay_info.order_id'>取消订单</p>
				<p class="pay" @click="pay_show($event,index_all)" :num="index_all" :orderid='order_pay_info.order_id' :money='order_pay_info.money'>支付订单</p>
			</div>

			<!-- 代发货时 status=1 -->
			<div class="warn_send_btn" v-if="order_pay_info.status == 1 && order_pay_info.type == 1">
				<p class="warn_send" style="lineHeight:0.9rem;" @touchend="remind">提醒发货</p>
			</div>
			<!-- 待收货 status=2 -->
			<div class="warn_send_btn" v-if="order_pay_info.status == 2 && order_pay_info.type == 1">
				<p class="warn_send" style="lineHeight:0.9rem;" @touchend="receive">确认收货</p>
			</div>

		<!-- 确定支付弹框部分开始 -->
			<div class="pay_bg">
				<div class="pay_content">
					<div class="pay_1">
						<p>确定支付</p>
						<i class="iconfont icon-chacha pay_hide" id="pay_i_chacha"></i>
					</div>
					<div class="pay_2">
						<i class="iconfont icon-rmb" style="fontSize:1.25rem;"></i><span class="pay_totalPrice">{{end_price}}</span>
					</div>
					<div class="pay_3">支付方式</div>
					<div class="pay_4" @click="weixin()">
						<div>
							<i class="iconfont icon-weixin pay_i_wx" style="color:#149E23;fontSize:1.06666667rem;"></i>
							<span>微信支付</span>
							<i class="iconfont icon-not_Selected-copy select-copy" id="select_i"></i>
						</div>
					</div>
					<div class="pay_5">
						<button class="pay_btn bgblue" @click="immediate_pay()">立即付款</button>
					</div>
				</div>
			</div>
		<!-- 确定支付弹框部分结束 -->
		</div>
	<!-- 待付款部分结束(未支付) -->
	
	<!-- 待发货产品部分开始(待发货) -->
		<!-- <div class="obligation_content send_page" v-for="(order_send_info,index_all) in all_send"> -->
			<!-- 订单时间 -->
			<!-- <p id="replace_send">订单编号：{{order_send_info.order_id}}</p>
			<p class="border_line">
				<! 订单编号 -->
				<!-- <span>订单时间：{{order_send_info.created_at}}</span> -->
				<!-- <span>买家已付款</span> -->
			<!-- </p>  -->
			<!-- <div class="product_box" v-for="(send_info,index) in order_send_info.product_info"></div> -->
			<!-- <div class="product_box"  v-if="order_send_info.type == 0">
				<div class="am-u-sm-4">
					<img :src="order_send_info.goods_img" alt="">
				</div>
				<div class="am-u-sm-8"> -->
					<!-- 产品名 -->
					<!-- <h4>{{order_send_info.goods_title}}</h4> -->
					<!-- 产品描述 -->
					<!-- <div class="product_div1">{{order_send_info.goods_detail}}</div> -->
					<!-- <p> -->
						<!-- 产品单价 -->
						<!-- <span><i class="iconfont icon-rmb" style="fontSize:0.29866667rem;"></i>{{order_send_info.goods_price}}</span> -->
						<!-- 产品个数 -->
						<!-- <span style="color:#f00;">X{{order_send_info.goods_num}}</span> -->
					<!-- </p> -->
				<!-- </div> -->
			<!-- </div> -->
			<!-- <div class="flow_box border_line" v-for="(flow_info,index_flow) in order_send_info.flow_info"></div> -->
			<!-- <div class="flow_box border_line" else-if="order_send_info.type == 2"> -->
				<!-- <span>{{order_send_info.describe}}</span> -->
				<!-- <span><i class="iconfont icon-rmb" style="fontSize:0.29866667rem;"></i>{{order_send_info.money}}</span> -->
				<!-- <span>X 1</span> -->
			<!-- </div>
			<div class="product_total">
				<div>
					<p class="am-u-sm-3">&nbsp;</p> -->
					<!-- 产品个数 -->
					<!-- <p class="am-u-sm-4" class="chang_1">共1件商品</p> -->
					<!-- 总价钱 -->
					<!-- <p class="am-u-sm-5" style="text-align:right;">小计：<span><i class="iconfont icon-rmb" style="fontSize:0.29866667rem;"></i>{{order_send_info.money}}</span></p>
				</div>
				<div><span>(含邮费：<span class="express_fee_text">{{order_send_info.franking}}</span>元)</span></div>
			</div>
			<div class="warn_send_btn">
				<p class="warn_send" style="lineHeight:0.9rem;" @touchend="remind">提醒发货</p>
			</div>
		</div> -->
	<!-- 待发货产品部分结束(待发货) -->

	<!-- </div> -->
<!--  产品详情部分开始 -->

<!-- 取消订单确认弹框部分开始 -->
	<div class="cancel_bg">
		<div class="cancel_content">
			<div>
				<p>信息</p>
				<p><i class="iconfont icon-chacha cancel_hide"></i></p>
			</div>
			<div>
				<p>确定取消订单吗？</p>
				<p>
					<span class="confirm_y bgblue">确定</span>
					<span class="cancel_hide">取消</span>
				</p>
			</div>
		</div>
	</div>
<!-- 取消订单确认弹框部分结束 -->

<!-- 加载更多 -->
	<div class="loadMore" @click="getMore">加载更多。。</div>
	</div>

	<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
	<script src="__PUBLIC__/Home/amazeui/assets/js/amazeui.min.js"></script>
	<script src="__PUBLIC__/Home/js/public.js"></script>
	<script src="__PUBLIC__/Home/js/vue.min.js"></script>
	<script src='__PUBLIC__/Home/js/downfresh.js'></script>
	<script src="__PUBLIC__/Home/vConsole-3.1.0/dist/vconsole.min.js"></script>
	<script src="__PUBLIC__/Home/js/jweixin-1.2.0.js"></script>
	<script>
		var vConsole = new VConsole();

		//微信接口
		wx.config({
			debug: false,
			appId: '{{$wxinfo["appId"]}}', //企业号
			timestamp: '{{$wxinfo["timestamp"]}}', //生成签名的时间戳
			nonceStr: '{{$wxinfo["nonceStr"]}}', //生成签名的随机串
			signature: '{{$wxinfo["signature"]}}', //签名，见附录1	
			jsApiList: [
			// 所有要调用的 API 都要加到这个列表中
			'chooseWXPay'
			]
		});
		// 3、微信支付方法
		function weixinPay(res, callback){
			var type = Object.prototype.toString.call(res);
			if(type === '[object Object]'){
				res = JSON.stringify(res);
			}
			console.log('prePay: ',res);
			WeixinJSBridge.invoke(
				'getBrandWCPayRequest',
				JSON.parse(res),
				function(res){
					console.log('payres: ', res);
					if (res.err_msg.substr(-2) == 'ok') {
		                // 付款成功
						callback({status: 'ok'});
						
		            } else if (res.err_msg.substr(-6) == 'cancel') {
		                // 取消付款
						callback({status: 'cancel'});

		            }else{
		                // 付款失败
						callback({status: 'fail'});
		            }
		        }
		    );
		};
		// 2、请求微信支付信息，用于微信支付
		function prePay(data){
			$.ajax({
				url: '{{:U("Home/Pay/wxres")}}',
				type: 'post',
				data: data,
				success: function(res){ 
					console.log('res: ',res);
					console.log('res.res: ',res.res);
					if(res.status == 200){
						// 微信支付
						weixinPay(res.res, function(res){
							switch (res.status){
								case 'ok':
									// 支付成功
									noticeFn({text: '支付成功!'});
									setTimeout(function(){
										// 待发货
										location.href = '{{:U("Home/Pay/order")}}' + '?status=2';
									},500);
									break
								case 'cancel':
									// 取消付款
									noticeFn({text: '取消付款!'});
									break
								case 'fail':
									// 付款失败
									noticeFn({text: '付款失败，请稍后再试!'});
									break
								default:
									//什么什么什么
							}
						});

					}else{
						noticeFn({text: res.msg});
					}
				},
				error: function(err){
					console.log('err: ',err);
					noticeFn({text: '系统遇到错误，请稍后再试'});
				}
			})
		}

		
		// 1、请求订单信息，用于微信支付
		function getOrderInfo(orderid){
			$.ajax({
				url: '{{:U("Home/Pay/getOrderInfo")}}',
				type: 'post',
				data: {orderid: orderid},
				success: function(res){
					console.log('res: ',res);
					if(res.code == 200){
						var jogData = {
							openId: "{{$_SESSION['open_id']}}",
							money: res.money/100,
							order_id: res.order_id,
							content: res.content,
							notify_url: res.notify_url
						}
						prePay(jogData);

					}else{
						noticeFn({text: res.msg});
					}
				},
				error: function(err){
					console.log('err: ',err);
					noticeFn({text: '系统遇到错误，请稍后再试'});
				}
			})
		}

		// 取消订单
		function cancelOrder(orderid){
			console.log(orderid);
			$.ajax({
				url: '{{:U("Home/Pay/cancelOrder")}}',
				type: 'post',
				data: {orderid: orderid},
				success: function(res){
					console.log('res: ',res);
					if(res.code == 200){
						noticeFn({text: '取消成功'});
						$(".cancel_bg").hide();
						setTimeout(function(){
							location.reload();
						},300);

					}else{
						noticeFn({text: res.msg});
					}
				},
				error: function(err){
					console.log('err: ',err);
					noticeFn({text: '系遇到问题，请稍后再试'});
				}
			})
		}
	</script>
	<script src="__PUBLIC__/Home/js/pay/order.js"></script>
</body>
</html>