<!DOCTYPE html>
<html>
<head> 
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" >
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/iconfont/iconfont.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/amazeui/assets/css/amazeui.min.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/common.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/users/advice.css">
	<title>建议</title>
</head> 
	<body>
		<div id="advice-container">
			<h3>请写下您对设备的宝贵建议<b>*</b></h3>
			<form id="form" action="{{:U('Home/Users/proposal')}}" method="post">
				<textarea autofocus name="content" class="content" cols="30" rows="10"></textarea>
				<p>收到建议后，我们会对设备不断进行调试，力求为您提供更好的体验，谢谢~</p>
				<input type="button" value="提交" class="upbtn">
			</form>
		</div>
	</body>
	<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
	<script src="__PUBLIC__/Home/js/public.js"></script>
	<script>
		var flag = false;
		// 提交
		$(".upbtn").click(function(){
			var content = $('.content').val();
			console.log('content: ',content);
			if(!content){
				noticeFn({text: "别忘了留下您宝贵的意见！"})
				return
			}
			if(!flag){
				flag = true;
				$('#form').submit();
				// 提交数据
				// $.ajax({
				// 	url: '{{:U("Home/Users/proposal")}}',
				// 	type: 'post',
				// 	data: {content: content},
				// 	success: function(res){
				// 		console.log('res: ',res);
				// 		noticeFn({text: "提交成功，谢谢您的意见！"});
				// 		setTimeout(function(){
				// 			history.replaceState({}, null, '{{:U("Home/Index/index")}}');
				// 			// 提交数据
				// 			$('#form').submit();
				// 		},500);
				// 	},
				// 	error: function(err){
				// 		flag = false;
				// 		console.log('err: ',err);
				// 		noticeFn({text: "系统遇到问题，请稍后再试"});
				// 	}
				// })
			}
		})
	</script>

</html>