<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatable" content="text/html;utf-8">
	<meta name='viewport' content='width=device-width,initial-scale=1.0,user-scalable=no'>
	<title>录入信息</title>
	<link rel="stylesheet" href="__PUBLIC__/Home/amazeui/assets/css/amazeui.min.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/iconfont/iconfont.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/common.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/users/buyinfo.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/amazeui/assets/css/amazeui.datetimepicker.css">
</head>
<body>
	<form action='' id='form' method='POST' class='am-container'>
		<div class='am-g am-text-middle'>
			<label for="" class='am-u-sm-3 nowrap'>收&nbsp;&nbsp;货&nbsp;&nbsp;人</label>
			<input type="text" class='am-u-sm-9 uname' name='uname' placeholder="请输入收货人">
		</div>
		<div class='am-g am-text-middle'>
			<label for="" class='am-u-sm-3'>手机号码</label>
			<input type="text" class='am-u-sm-9 uphone' name='uphone' placeholder="请输入手机号">
		</div>
		<div class='am-g am-text-middle'>
			<label for="" class='am-u-sm-3'>设置密码</label>
			<input type="password" class='am-u-sm-7 upwd' name='upwd' placeholder="请输入密码">
			<span class='am-u-sm-2 am-icon-eye-slash' id='seepwd'></span>
		</div>
		<div class='am-g am-text-middle'>
			<label for="" class='am-u-sm-3 label'>所在地区</label>
			<span class='am-u-sm-9 areabtn am-text-left uaddress'></span>
			<!-- <input type="hidden" name='uaddress' value=''> -->
			<span class='areabtn choosebtn f888' >请选择 ></span>
		</div>
		<div class='am-g am-text-middle'>
			<label for="" class='am-u-sm-3 label'>收货地址</label>
			<textarea class="am-u-sm-9 uaddrdetail" name='address' rows="5" placeholder="请输入详细地址信息、如道路、门牌号、小区、楼栋号、单元室等"></textarea>
		</div>
		<div class='time'></div>
		<div class='am-g' style='background:#edeef2;'></div>
		<div class='am-g am-text-middle service_stop'>
			<label for="" class='am-u-sm-3 label'>服务站地址</label>
			<input type="hidden" name="sid" value="">
			<span class='f888 serviceF88' index="0">请选择 ></span>
		</div>
		<div>
			<div class="am-u-sm-10 confirm bgblue">确定</div>
		</div>
	</form>
	<div id="areaChoose" class="citys">
		<div class="areaChoosebg">&emsp;</div>
		<div class="areaDiv">
			<div class='atop'>
				<p>&emsp;</p>
				<h2 class='am-h2 am-text-center'>所在地区</h2>
				<button type="button" class="am-close close">&times;</button>
			</div>
			<div>
				<div>
					<p class='ptext ltext fblue'>请选择&nbsp;</p>
					<div class='province areadiv' value="440000" data-code="440000"></div>
				</div>
				<div>
					<p class='ctext ltext fblue'>&nbsp;</p>
					<div class="city areadiv" value="440100" data-code="440100"></div>
				</div>
				<div>
					<p class='atext ltext fblue'>&nbsp;</p>
					<div class="area areadiv" value="440103" data-code="440103"></div>
				</div>
			</div>
		</div>
		<div id="confirmAreaChoose">
			<div>确定</div>
		</div>
	</div>
	<div id='serviceChoose'>
		<div class='sTop'></div>
		<div class='sBottom'>
			<div class='tcenter'>附近的服务站&nbsp;<span class='iconfont icon-quxiao'></span></div>
			<ul class='cfix'>
				<li class='fleft'>
					<p class='tcenter'><span class='sSelect'>请选择</span></p>
					<ul class='serviceul'>
						<li class='tcenter' indexId="4">南浦服务站</li>
						<li class='tcenter' indexId="6">钟村服务站</li>
						<li class='tcenter' indexId="7">石壁服务站</li>
					</ul>
				</li>
				<li class='fright'>
					<p class='tcenter f888'><span>待安装人数</span></p>
					<ul class='numberul'>
						<!-- <li class='tcenter'>3</li>
						<li class='tcenter'>8</li>
						<li class='tcenter'>11</li> -->
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<script src="__PUBLIC__/Home/js/public.js"></script>
	<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
	<script src="__PUBLIC__/Home/js/jquery.citys.js"></script>
	<script src="__PUBLIC__/Home/amazeui/assets/js/amazeui.min.js"></script>
	<script src="__PUBLIC__/Home/amazeui/assets/js/amazeui.datetimepicker.js"></script>
	<script>
		var back2home = document.getElementsByClassName('back2home');
		back2home[0].innerHTML = '';
		
		// 请求服务站数据
		function getService(province , city , area, callback){
			$.ajax({
				url: '{{:U("Home/Vendors/getService")}}',
				data: {province:province , city:city , area: area},
				type: 'post',
				success: function(res){
					// console.log('请求成功！', res);
					// 回调遍历服务站数据
					callback(res);
				},
				error: function(err){
					console.log('请求失败！', err);
					callback({status:-1});
				}
			})
		}
		// 选择地区
		$(".areabtn").on("click", function(){
			$("#areaChoose").fadeIn('fast');
		});
		// 服务站id号
		var serId;
		// 服务地区选择
		$(".serviceul").on("click", "li", function() {
			$(".serviceF88").attr("index", "1");
			// 获取服务id
			serId = $(this).attr("indexId");
			$("input[name='sid']").val(serId);
			$("#serviceChoose").fadeOut("fast");

		})
		// 关闭地区选择，并显示到对应区域
		$(".area").on("click", 'p', function(){
			$(".serviceF88").text("请选择").attr("index", "0");
			// 省市区
			var province = $('.ptext').text(),
			city = $('.ctext').text(),
			district = $(this).text();
			$(".uaddress").text( (!province && !city && !district) ? '请选择' : province + ' ' + city + ' ' + district);
			 
			// 选择完地区时同时请求服务站数据
			if($(this).text().indexOf('请选择') == -1){
				setTimeout(function(){
					$("#areaChoose").fadeOut('fast');
					$('.choosebtn').hide();
					// 查询服务站数据 传递参数: province-省 city-市 district-区 
					getService(province, city, district, function(res){
						console.log("服务站数据", res);
						if(res.status == 200){
							// 服务站名称 serviceName 服务站人数 serviceNum
							var serviceName = "",
							serviceNum = "";
							for(var i = 0; i < res.info.length; i++) {
								serviceName = serviceName + "<li class='tcenter' indexId='"+res.info[i].id+"'>"+ res.info[i].name+"</li>";
								serviceNum = serviceNum + "<li class='tcenter'>"+ res.info[i].num+"</li>";
							}
							$(".serviceul").html(serviceName);//服务站名称显示
							$(".numberul").html(serviceNum);//服务站人数显示
						}else if(res.status == 201){
							noticeFn({text: '您的位置附近 无服务站，请自行安装设备！'});
							// 服务站名称 serviceName 服务站人数 serviceNum
							$(".serviceul").html("<li class='tcenter' indexId='0'>自定义安装</li>");//服务站名称显示
							$(".numberul").html("<li class='tcenter'>0</li>");//服务站人数显示
						}else {
							noticeFn({text: '系统遇到问题，请稍后再试！'});
						}
					});
						

				},300);
			}
				
		});
	</script>
	<script src="__PUBLIC__/Home/js/users/buyinfo.js"></script>
	<script>
			$(function(){
				// 提交
				$('.confirm').click(function(){
					var nameEle = $('.uname'), 
					phoneEle = $('.uphone'), 
					addrEle = $('.uaddress'), 
					addrdetEle = $('.uaddrdetail'), 
					pwdEle = $('.upwd');
					
					var uname = trimFn($('.uname').val()),
					uphone = trimFn($('.uphone').val()),
					upwd = trimFn($('.upwd').val()),
					uaddress = trimFn($('.uaddress').text()),
					uaddrdetail = trimFn($('.uaddrdetail').val()),
					uService = $('.serviceF88').attr("index");
					
					//验证收货人
					if(!uname){
						noticeFn({text:'请输入收货人！'});
						nameEle.css({border: '1px solid red'});
						return
					}else if(!nameCheck(uname)){
						noticeFn({text:'收货人只能是中文,英文,下划线组成'});
						nameEle.css({border: '1px solid red'});
						return	
					}else{
						nameEle.css({border: 'none'});
					}
					
					//验证手机号码
					if(!uphone){
						noticeFn({text:'请输入手机号码！'});
						phoneEle.css({border: '1px solid red'});
						return
					}else if(!phoneCheck(uphone)){
						noticeFn({text:'请输入正确的手机号码！'});
						phoneEle.css({border: '1px solid red'});
						return
					}else{
						phoneEle.css({border: 'none'});
					}
					
					//验证密码
					if(!upwd){
						noticeFn({text:'请输入密码！'});
						pwdEle.css({border: '1px solid red'});
						return
					}else{
						pwdEle.css({border: 'none'});
					}
					
					//验证地区
					if(!uaddress){
						noticeFn({text:'请选择收货地区！'});
						return
					}

					// 验证服务区
					if(uService == '0'){
						noticeFn({text:'请选择服务地区！'});
						return
					}
					
					//验证详细地址
					if(!uaddrdetail){
						noticeFn({text:'请输入详细地址！'});
						addrdetEle.css({border: '1px solid red'});
						return
					}else if(!nameCheck(uaddrdetail)){
						noticeFn({text:'详细地址只能是中文、英文和下划线组成！'});
						addrdetEle.css({border: '1px solid red'});
						return
					}else{
						addrdetEle.css({border: 'none'});
					}
					// $('input[name="uaddress"]').val(uaddress);
					
					var formdata = new FormData($('#form')[0]);
					// 验证通过则 提交
					$.ajax({
						url: '{{:U("Home/users/userbuy")}}',
						data: formdata,
						type: "post",
						contentType: false,
						processData: false,
						success: function(res){
							console.log('请求成功: ',res);
							if(res.status == 200) {
								noticeFn({text:'提交成功!'});
								setTimeout(function(){
									// 调到首租付款页面
									location.href = '{{:U("Home/Pay/firstHire")}}';
								},500);
							}else if(res.status == 201) {
								noticeFn({text:'请完善录入信息!'});
							}
						},
						error: function(err){
							console.log('请求失败: ',err);
							noticeFn({text:'提交失败，请稍后再试!'});
						}
					})
				})
								
			})
	</script>
</body>
</html>