<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" >
	<title>我的收益</title>
	<link rel="stylesheet" href="__PUBLIC__/Home/amazeui/assets/css/amazeui.min.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/iconfont/iconfont.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/common.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/users/earnings.css">
	<script src="__PUBLIC__/Home/js/vue.min.js"></script>
</head>
<body>
	<div id="earnings" >
		<h3 class='account tcenter'>
			<p>
				<span>
					<i class='iconfont icon-account'></i>
					<span>&emsp;&emsp;我的账户:</span> 
					<span v-text='account'></span>
				</span>
			</p>
		</h3>
		<div class='head'>
			<span>来源</span>
			<span>收入</span>
			<span>渠道</span>
		</div>
		<ul id='main'>
			<li v-for='e in eList'>
				<span v-text='e.name'></span>
				<span v-text='e.inmoney'></span>
				<span v-text='e.way'></span>
			</li>
		</ul>
		<!-- <ul id='footer'>
			<li>甲级成员：<span v-text='levelJ'></span></li>
			<li>乙级成员：<span v-text='levelY'></span></li>
			<li>累计：<span v-text='totalscore'></span>分</li>
		</ul> -->
	</div>
	<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
	<script src="__PUBLIC__/Home/amazeui/assets/js/amazeui.min.js"></script>
	<script src="__PUBLIC__/Home/js/public.js"></script>
	<script src='__PUBLIC__/Home/js/downfresh.js'></script>
	<script defer>
		var back2home = document.getElementsByClassName('back2home');
		// back2home[0].setAttribute('href','{{:U("Home/Index/index")}}');
	</script>
	<script>
		var earnings = new Vue({
			el: '#earnings',
			data() {
				return {	
					account: '--',		// 账户名
					eList: [
						{name: '',inmoney: '加载中...',way: ''},
					],
					levelJ: 0,			// 甲级成员
					levelY: 0,			// 乙级成员
					totalscore: 0		// 累计分
				}
			},
			created() {
				var that = this;
				// 获取数据
				that.getList(1, function(data){
					that.eList = [];	// 清空数据
					// that.account = account;
					data.forEach(function(item, index){
						if(item.status == 1){
							// 钱
							item.increase += '元现金';
						}else if(item.status == 2){
							// 时间
							item.increase += '天租赁'
						}
						that.eList.push({
							name: item.user_name,
							inmoney: item.increase,
							way: '推广'
						})
					})
				})
			},
			mounted() {},
			methods: {
				getList: function(page, callback){
					page = page || 1;
					$.ajax({
						url: '{{:U("Api/Users/earnings")}}',
						// data: {page: page},
						type: 'get',
						success: function(res){
							console.log('res: ',res);
							if(res.code == 200){
								callback(res.data);
							}
						},
						error: function(err){
							console.log('err: ',err);
						}
					})
				}
			}
		})
	</script>
</body>
</html>