<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
		<title>个人信息 </title>
		<link rel="stylesheet" href="__PUBLIC__/Home/amazeui/assets/css/amazeui.min.css">
		<link rel="stylesheet" href="__PUBLIC__/Home/iconfont/iconfont.css">
		<link rel="stylesheet" href="__PUBLIC__/Home/css/common.css">
		<link rel="stylesheet" href="__PUBLIC__/Home/css/users/infoedit.css">
	</head>
	<body>
		<form id='form' action="{{:U('Home/Device/infoedit')}}" method="post" >
			<div class="container">
				<h3>个人信息</h3>
				<div>
					<div class='item am-g'>
						<i class="iconfont icon-device fblue"></i>
						<span class='am-u-sm-4'>绑定套餐：</span>
						<input type="hidden" name='orderid' class='orderid'>
						<select name="meal" id="meal">
							<!-- <option value=""></option> -->
						</select>
					</div>
					<input type="hidden" name="deviceid" value="">
					<div class='item am-g'>
						<i class="iconfont icon-user fblue"></i>
						<span class='am-u-sm-4'>姓&emsp;&emsp;名：</span>
						<input class="name am-u-sm-8" type="text" placeholder="请输入姓名" name="name" value=""> 
					</div>
					<div class='item am-g'>
						<i class="iconfont icon-phone fblue"></i>
						<span class='am-u-sm-4'>手机号码：</span>
						<input class="phone am-u-sm-8" type="text" placeholder="请输入手机号码" name="phone" value="">
					</div>
					<div class='item am-g'>
						<i class="iconfont icon-addr fblue"></i>  
						<span class='am-u-sm-4'>安装地址：</span>
						<textarea class='am-u-sm-8 addr' name="addr" placeholder="请输入详细的安装地址"  cols="30" rows="4" value=""></textarea>
					</div>
				</div>
				<input type="hidden" name='province' class='province'>
				<input type="hidden" name='city' class='city'>
				<input type="hidden" name='district' class='district'>
				<div class="save bgblue" style="z-index:9999;">保存</div>
			</div>
		</form>
		<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
		<script src="__PUBLIC__/Home/js/public.js"></script>
		<script src="__PUBLIC__/Home/vConsole-3.1.0/dist/vconsole.min.js"></script>
		<script>
        	var vConsole = new VConsole();
			$(function(){
				var mealArr = [];	// 记录订单信息
				// 获取设备id
				var deviceid = getQuery().deviceid;
				$('input[name="deviceid"]').val(deviceid);
				// 获取订单信息
				getOrder(deviceid, function(res){
					console.log('res: ',res);
					mealArr = res;		// 保存订单信息
					var html = '<option value="0">请选择</option>';
					// 遍历订单中的套餐信息（一个订单只有一种套餐）
					res.forEach(function(meal, index){
						html += '<option index="'+ index +'" orderid="'+ meal.id +'" value="'+ meal.describe +'">'+ meal.describe +'</option>';
					})
					$('#meal').html(html);
				})
				// 选择套餐，实时修改个人信息
				$('#meal').on('change', function(){
					var selectOP = $(this).find('option:selected').attr('index');
					console.log('mealArr: ',mealArr);
					console.log('mealArr[selectOP]: ',mealArr[selectOP]);
					if(!mealArr[selectOP].city){
						mealArr[selectOP].city = '';
					}
					if(!mealArr[selectOP].district){
						mealArr[selectOP].district = '';
					}
					// 更新信息
					$('.name').val(mealArr[selectOP].name);
					$('.phone').val(mealArr[selectOP].phone);
					$('.addr').val(mealArr[selectOP].province + mealArr[selectOP].city + mealArr[selectOP].district + mealArr[selectOP].address);
					$('.province').val(mealArr[selectOP].province);
					$('.city').val(mealArr[selectOP].city);
					$('.district').val(mealArr[selectOP].district);
				})
				var name = '', sex = '', phone = '', addr = '';

				// 点击保存
				$('.save').click(function(){
					var meal = $('#meal>option:selected').attr('orderid');
					var nameEle = $('.name');
					var phoneEle = $('.phone');
					var addrEle = $('.addr');
					name = trimFn(nameEle.val());
					phone = trimFn($('.phone').val());
					addr = trimFn($('.addr').val());

					if(!name){
						noticeFn({text: '请输入姓名'});
						nameEle.css({border: '1px solid red'});
						return
					}else if(!nameCheck(name)){
						noticeFn({text: '姓名只能由中文、英文、数字、下划线组成'});
						nameEle.css({border: '1px solid red'});
						return
					}else{
						nameEle.css({border: 'none'});
					}

					if(!phone){
						noticeFn({text: '请输入手机号码'});
						phoneEle.css({border: '1px solid red'});
						return
					}else if(!phoneCheck(phone)){
						noticeFn({text: '请输入正确的手机号码'});
						phoneEle.css({border: '1px solid red'});
						return
					}else{
						phoneEle.css({border: 'none'});
					}

					if(!addr){
						noticeFn({text: '请输入地址'});
						addrEle.css({border: '1px solid red'});
						return
					}else if(!nameCheck(addr)){
						noticeFn({text: '地址只能由中文、英文、数字、下划线组成'});
						addrEle.css({border: '1px solid red'});
						return
					}else{
						addrEle.css({border: 'none'});
					}

					// 选择套餐，绑定订单
					if(!meal){
						noticeFn({text: '请选择需要绑定的套餐！'});
						return
					}else{
						$('.orderid').val(meal);
					}

					// console.log(name, phone, addr);

					console.log($('input[name="name"]').val(),
					$('input[name="phone"]').val(),
					$('textarea[name="addr"]').val(),
					$('input[name="deviceid"]').val(),
					$('.orderid').val())

					noticeFn({text: '绑定成功'});
					// 替换历史记录
					// history.replaceState({}, null, '{{:U("Home/Users/mine")}}');
					setTimeout(function(){
						// 提交数据
						$('#form').submit();
					},500);
				})

				// 获取订单信息
				function getOrder(deviceid, callback){
					$.ajax({
						url: '{{:U("Home/Device/waterOrder")}}',
						data: {deviceid: deviceid},
						type: 'post',
						success: function(res){
							console.log('res: ',res);
							if(res.status == 200){
								callback(res.order);
							}else{
								noticeFn({text: '没有查到您的订单购买记录，无法绑定设备', time: 1500});
							}
						},
						error: function(err){
							console.log('err: ',err);
							noticeFn({text: '系统出现错误，请稍后再试'});
						}
					})
				}
			})
		</script>
	</body>

</html>                                                                                                                                 