<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>服务记录</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
    <link rel="stylesheet" href="__PUBLIC__/Home/iconfont/iconfont.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/amazeui/assets/css/amazeui.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/service/css/service.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/common.css">
</head>
<body>
    <div class="main">
        <div id="form1">
            <div>
                <span class="iconfont icon-search" @click="subClick()"></span>
                <!-- <input type="search" autocomplete="off" name="searchInfo" placeholder="请输入工单号/设备编码" v-model='searchword' @keyup.enter='search'> -->
                <input type="search" autocomplete="off" name="searchInfo" placeholder="请输入工单号" v-model='searchword' @keyup.enter='search'>
            </div>
        </div> 
        <div class="userInfo">
            <ul>
                <!-- 头部 -->
                <li class="userLi clearfix">
                    <ol class="am-g doc-am-g">
                        <li class="am-u-sm-4">工单号</li>
                        <li class="am-u-sm-4">状态</li>
                        <li class="am-u-sm-4">预约时间</li>
                    </ol>
                </li>
                <!-- 内容 -->
                <li class="userLi" v-for='u in userList'>
                    <a @click='servicedetail(u.workid)' class="clearfix">
                        <ol class="am-g">
                            <li class="am-u-sm-4"><span v-html='u.workid'>2018040225652</span></li>
                            <li class="am-u-sm-4"><span v-html='u.status'>进行中</span></li>
                            <li class="am-u-sm-4 nextIcon">
                                <span v-html='u.addtime'>2018-02-17</span> <span class="iconfont icon-xiangyou1"></span>
                            </li>
                        </ol>
                    </a>
                </li>
                <div class='loadmore' @touchend='getmore'>加载更多</div>
            </ul>
        </div>
    </div>
    <script src="__PUBLIC__/Home/js/jquery.min.js"></script>
    <script src="__PUBLIC__/Home/js/public.js"></script>
    <script src="__PUBLIC__/Home/js/vue.min.js"></script>
    <script src="__PUBLIC__/Home/vConsole-3.1.0/dist/vconsole.min.js"></script>
    <script>
        var vConsole = new VConsole();
        // 获取数据
        function getList(page, callback){
            $.ajax({
                url: '{{:U("Api/Users/service_record")}}',
                data: {p: page},
                type: "post",
                success: function(res) {
                    console.log('page: ',page);
                    console.log('res: ',res);
                    if(res.code == 200){
                        callback(res.data);

                    }else{
                        noticeFn({text: '查无数据'});
                        if(page == 1){
                            service.userList = [{
                                workid: '&emsp;',
                                status: '查无数据',
                                addtime: '&emsp;'            
                            }];
                            $('.nextIcon').hide();
                        }
                        $('.loadmore').hide();
                    }
                },
                error: function(err) {
                    console.log('err: ',err);
                }
            })
        }

        // 搜索数据
        function searchFn(searchword, callback){
            $.ajax({
                url: '{{:U("Api/Users/service_record")}}',
                data: {searchword: searchword},
                type: "post",
                success: function(res) {
                    console.log('res: ',res);
                    if(res.code == 200){
                        callback(res.data);
                        $('.nextIcon').show();
                    }else{
                        $(".loadingdiv").fadeOut('fast');
                        $('.nextIcon').hide();
                        service.userList = [{
                            workid: '&emsp;',
                            status: '查无数据',
                            addtime: '&emsp;'            
                        }];
                    }
                },
                error: function(err) {
                    console.log('err: ',err);
                }
            })
        }

    </script>
    <script src="__PUBLIC__/Home/js/service/service.js"></script>
</body>
</html>