<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="text/html;utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1" >
	<link rel="stylesheet" href="__PUBLIC__/Home/iconfont/iconfont.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/amazeui/assets/css/amazeui.min.css">
	<!-- <link rel="stylesheet" href="__PUBLIC__/Home/amazeui/assets/css/amazeui.datetimepicker.css"> -->
	<link rel="stylesheet" href="__PUBLIC__/Home/css/common.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/users/waterrecord.css">
	<title>净水记录</title>
</head>
<body>
	<div id="dateSelect" class='am-datepicker-date'>
		<input name="date" type="button" class="am-datepicker-add-on month" value="">
	</div>
	<div class="echartDiv">
		<h3 class="eChartTitle">纯水 <span class="pureMean"></span></h3><br />
		<div class="chart" id="lineChart1" _echarts_instance_="1513755345537" >
			<div>
				<div data-zr-dom-id="bg" ></div>
				<canvas data-zr-dom-id="0" class="zr-element" style="position: absolute; left: 0px; top: 0px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></canvas>
			</div>
		</div>
	</div>
	<div class="echartDiv">
		<h3 class="eChartTitle">原水 <span class="rawMean"></span></h3><br />
		<div class="chart" id="lineChart2" _echarts_instance_="1513755345537" >
			<div>
				<div data-zr-dom-id="bg" ></div>
				<canvas data-zr-dom-id="0" class="zr-element" style="position: absolute; left: 0px; top: 0px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></canvas>
			</div>
		</div>
	</div>
	<div id="console"></div>
	<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
	<script src="__PUBLIC__/Home/js/echarts.min.js"></script>
	<script src="__PUBLIC__/Home/amazeui/assets/js/amazeui.min.js"></script>
	<!-- <script src="__PUBLIC__/Home/amazeui/assets/js/amazeui.datetimepicker.min.js"></script> -->
	<script src="__PUBLIC__/Home/js/public.js"></script>
	<script>

		$(function(){
	    	var _date = new Date();
			var year = new Date().getFullYear();//年份
			var month = ((new Date().getMonth()+1)+'').length == 1
						? '0' + (new Date().getMonth()+1)
						: (new Date().getMonth()+1);//获取月份
		 	var mustDateb = new Date(year, month, 0).getDate();//获取月份天数
			$(".month").val(year+'-'+month);	//显示当前年月

			var dataList = [];	//数据集
			// 请求净水记录数据
            var seach = year + month;
			getData(seach, function(res){
				if(res.status == 200){
					if(!res.data.length){
						noticeFn({text: "本月无数据",time: '1000'});
					}

				    // 按当月天数生成数据结构
				    getMonthLen(_date.getFullYear(),_date.getMonth()+1, function(monthData){
				    	// console.log('monthData: ',monthData);
				    	for(var i=0; i<monthData.length; i++){
				    		for(var k=0; k<res.data.length; k++){

				    			if(monthData[i].day == res.data[k].day){
				    				monthData[i].raw = res.data[k].raw;
				    				monthData[i].pure = res.data[k].pure;
				    			}
				    		}
				    	}
				    	console.log('monthData: ',monthData);
				    	setTimeout(function(){
							// 显示折线图
							getAvg(monthData, res.data.length);
						},0);
				    	
				    });

				}else{
					noticeFn({text: "系统遇到问题, 请稍后再试！",time: '1000'});

				}
			})

			// 设置日期插件参数
			$('.am-datepicker-date').datepicker({format: 'yyyy-mm', viewMode: 'years', minViewMode: 'months'});
			$('#dateSelect').click(function(){

				// 显示日期插件
				$('.am-datepicker-date').datepicker('open');
			})

			// 选中月份获取净水记录
			$('.am-datepicker').on('click', '.am-datepicker-month', function(){
				var month = $(this).parent().children().index($(this));
				var now = new Date().getMonth();
				// console.log(month);
				// 隐藏日期插件
				$('.am-datepicker-date').datepicker('close');
				setTimeout(function(){
					var year_month = $('.month').val().split('-');
					// console.log('year_month: ',year_month[0] + '' + year_month[1]);
					// 请求数据
					getData(year_month[0] + '' + year_month[1], function(res){
						if(!res.data.length){
							noticeFn({text: '当月无净水记录', time: 1500});
						}
						if(res.status == 200){

						    // 按当月天数生成数据结构
						    getMonthLen(_date.getFullYear(),_date.getMonth()+1, function(monthData){
						    	// console.log('monthData: ',monthData);
						    	for(var i=0; i<monthData.length; i++){
						    		for(var k=0; k<res.data.length; k++){

						    			if(monthData[i].day == res.data[k].day){
						    				monthData[i].raw = res.data[k].raw;
						    				monthData[i].pure = res.data[k].pure;
						    			}
						    		}
						    	}
						    	console.log('monthData: ',monthData);

			    				setTimeout(function(){
									// 显示折线图
									getAvg(monthData, res.data.length);
								},0);
						    	
						    });

						}else if(res.code == -1){
							noticeFn({text: '请求出错，请稍后再试！',time: '1000'});
							
						}else{
							noticeFn({text: '请求出错，请稍后再试！',time: '1000'});
						}
					});
				},0);
			})
		})
		function getAvg(datalist,mustDates){
			var rawArray = [];	//原水数据集
			var pureArray = [];	//净水数据集
			var rawSum = 0, pureSum = 0;
			// console.log('datalist: ',datalist);
			for(var i=0; i<datalist.length; i++){	//遍历原水值与净水值的数据
				rawArray[i] = parseInt(datalist[i].raw);
				pureArray[i] = parseInt(datalist[i].pure);
				rawSum += rawArray[i];
				pureSum += pureArray[i];
			}
			// console.log(rawArray, pureArray);
			// 求平均值
			if(datalist.length !== 0) {
				// 求平均值
				$(".rawMean").html("(平均值："+ (rawSum/rawArray.length).toFixed(2) +"ppm)");
				$(".pureMean").html("(平均值："+ (pureSum/pureArray.length).toFixed(2) +"ppm)");
			}else{
				$(".rawMean").html("(平均值："+ 0 +"ppm)");
				$(".pureMean").html("(平均值："+ 0 +"ppm)");
			}
			var lineChart1 = echarts.init(getId('#lineChart1'));
			lineChart1.setOption(getOption('line', pureArray, rawArray, '#74c2ad',mustDates));

			var lineChart2 = echarts.init(getId('#lineChart2'));
			lineChart2.setOption(getOption('line', rawArray, pureArray, '#f75151',mustDates));

		}
		// echarts 配置
		var getOption = function(_chartType, _yAxisData, _seriesData, lineColor,mustDate) {
			mustDate = mustDate < 28 ? 30 : mustDate;
			var chartOption = {
				grid: {
					x: 30,
					x2: 10,
					y: 30,
					y2: 25
				},
				calculable: false,
				xAxis: [{
					type: 'category',
					splitNumber: 29,
					axisTick: {
						interval: 0
					},	
					data: ['1','','','','','','','','','', '15','','','','','','','','','',mustDate]
				}],
				yAxis: {
			        type: 'value',
			        offset: 1,
			        boundaryGap: false,
			        data: _yAxisData,	//y轴坐标数据
			        axisPointer: {
			            snap: true
			        }
			    },
				series: [{
					type: _chartType,
					data: _seriesData,
					symbol: 'none',
					lineStyle:{
			            normal:{
			                width: 2,  //连线粗细
			                color: lineColor  //连线颜色
			            }
			        }
				}]
			};
			return chartOption;
		};

		var getId = function(ele){
			return document.querySelector(ele);
		}
		// 请求净水记录数据
		function getData(_month, fallback){
			$.ajax({
				url: '{{:U("Home/Device/getTds")}}',
				type: 'post',
				data: {month: _month},
				success: function(res){
					console.log('res: ',res);
					// if(_month == 201804){
					//    	res.data = [
					//         {
					//             "id":"108",
					//             "dcode":"852852879741476",
					//             "raw":"92",
					//             "pure":"13",
					//             "day":"04",
					//             "date":"201804"
					//         },
					//         {
					//             "id":"134",
					//             "dcode":"852852879741476",
					//             "raw":"90",
					//             "pure":"50",
					//             "day":"09",
					//             "date":"201804"
					//         },
					//         {
					//             "id":"126",
					//             "dcode":"852852879741476",
					//             "raw":"100",
					//             "pure":"100",
					//             "day":"05",
					//             "date":"201804"
					//         },
					//         {
					//             "id":"126",
					//             "dcode":"852852879741476",
					//             "raw":"100",
					//             "pure":"100",
					//             "day":"25",
					//             "date":"201804"
					//         }
					//     ]
					// }
					fallback(res);
				},
				error: function(err){
					console.log('err: ',err);
					noticeFn({text: '系统遇到问题, 请稍后再试'});
				}
			})
		}

	    // 按当月天数生成数据结构
	    function getMonthLen(year, month, callback){
	    	// console.log('year: ',year);
	    	// console.log('month: ',month);
	    	var monthData = [];
		    var monthLen = new Date(year, month, 0).getDate();
	    	// console.log('monthLen: ',monthLen);
	    	// 按当月天数遍历数据结构
		    for(var i=0; i<monthLen; i++){
		    	// console.log(i+1);
		    	monthData.push({
		    		raw: 0,
		    		pure: 0,
		    		day: (i < 9 ? 0+''+(i+1) : (i+1)+'')
		    	})
		    }
		    // console.log('monthData: ',monthData);
		    callback(monthData);
	    }

	</script>
</body>
</html>