<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" >
	<title>提现</title>
	<link rel="stylesheet" href="__PUBLIC__/Home/amazeui/assets/css/amazeui.min.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/iconfont/iconfont.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/common.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/withdraw/index.css">
</head>
<body>
	<div class='am-container' id='withdraw'>
		<div class='item' :style='{ display: !withNext ? "block" : "none" }'>
			<span class='fblue f6'>&nbsp;&nbsp;提现方式</span>
			<ul>
				<!-- <li class='cfix typeitem' @click='chooseway($event)' index='0'>
					<a>&emsp;提现到微信</a>
					<i class='iconfont icon-weixin fleft'></i>
					<span class='iconfont icon-empty fright'></span>
				</li>
				<li class='cfix typeitem' @click='chooseway($event)' index='1'>
					<a>&emsp;提现到支付宝</a>
					<i class='iconfont icon-alipay fleft'></i>
					<span class='iconfont icon-empty fright'></span>
				</li>
				<li class='cfix typeitem' @click='chooseway($event)' index='2'>
					<a>&emsp;提现到银行卡</a>
					<i class='ylpng fleft'><img src="__PUBLIC__/Home/images/yl.png" alt=""></i>
					<span class='iconfont icon-empty fright'></span>
				</li> -->
				<li class='cfix typeitem'>
					<a>&emsp;提现到银行卡</a>
					<i class='ylpng fleft'><img src="__PUBLIC__/Home/images/yl.png" alt=""></i>
				</li>
			</ul>
		</div>
		<div class='item' :style='{ display: !withNext ? "block" : "none" }'>
			<span class='fblue f6'>&nbsp;&nbsp;提现金额</span>
			<ul>
				<li class='inmoney'>
					<i class='iconfont icon-rmb'></i>
					<input class='money' type="text" v-model='inmoney'>
				</li>
				<li class='f6 cfix'>
					可提现 <span v-text='enmoney'></span>元,
					<a href="javascript:;" @click='withall' class='fblue'>全部提现</a>
					<span class='fright'>冻结金额 <span v-text='dismoney'></span>元</span>
				</li>
			</ul>
			<p class='desc fblue' @click='showdesc'><i class="am-icon-question-circle-o"></i>&nbsp;提现说明&nbsp;&nbsp;</p>
		</div>
		<button id='sure' @click='sure' v-if='!withNext'>确定</button>
		<div class='withNext'>
			<p class='tcenter pTop'><i :class='payclass'></i></p>
			<div id='wxali'>
				<form action="" id='form'>
					<ul class='withpic'>
						<li>请上传&nbsp;<span style='color:#ff6666;'>收款二维码图片</span></li>
						<li>
							<input type="file" class='file' accept='image/*' style='width: 12vw;height: 20vw;position: absolute;opacity:0;z-index:99;    overflow: hidden;'>
							<i class='iconfont icon-add picadd'><span class='fblue'>添加</span></i>
							<div id='picShow'></div>
							<!-- <div class="picUpload">
							    <div id="fileList" class="uploader-list"></div>
							    <div id="filePicker">
							    	<i class='iconfont icon-add picadd'>
							    	<span class='fblue'>添加</span></i>
							    </div>
							</div>
							<div id='picShow'>
								<div>
									<img class='codeimg' alt="">
								</div>
							</div> -->
						</li>
					</ul>
					<div>
						<p>如何添加，收款二维码？</p>
						<div class='f6'>
							<p>1、首先打开
								<span :class='paycolor' v-text='paytext1'></span>，存储二维码图片
							</p>
							<p>2、首页点击
								<span :class='paycolor' v-text='paytext2'></span>
							</p>
							<p>3、点击
								<span class='fblue'>"+"</span>，在相册中选取保存的二维码图片上传
							</p>
						</div>
					</div>
				</form>
			</div>
			<div id='unionpay'>
				<div id='filter' :style='filterstyle'></div>
				<p class='uniontitle cfix' @click='selectunion' index='0'>
					<b>使用旧账号:</b>
					<span class='fright cfix'>
						<a style='color:#888;'>
							<select name="" id="" v-model='bankoldselect' @change='bankoldselectFn'>
								<option :value="card.bank + ',' + card.bankid" v-for='card in oldcard'>{{card.bank}}</option>
							</select>
							<span v-if='!oldcard' class='f6'>无历史账号记录</span>&nbsp;
						</a>
						<i class='iconfont icon-empty fright'></i>
					</span>
				</p>
				<ul>
					<li class='uniontitle cfix' @click='selectunion' index='1'>
						<b>添加新账号:</b>
						<i v-if='oldcard' class='iconfont icon-empty fright'></i>
						<i v-if='!oldcard' class='iconfont icon-select fright'></i>
					</li>
					<li class='unionitem cfix'>
						<span>开户名:</span>
						<input class='fright' type="text" placeholder="请输入开户名" v-model='uName'>
					</li>
					<li class='unionitem cfix' @click='showbank'>
						<a>选择银行:</a>
						<span class='bankName' v-text='bankName'></span>
						<span class='iconfont icon-xiangyou1 fright'></span>
						<ul class="bankList fright" >
							<li v-for='value,index in bankList' @click='selectBank'>{{ value }}</li>
							<!-- <li>国家开发银行</li>
							<li>中国进出口银行</li>
							<li>中国农业发展银行</li>
							<li>中国银行</li>
							<li>中国工商银行</li>
							<li>中国建设银行</li>
							<li>中国农业银行</li>
							<li>中国光大银行</li>
							<li>中国民生银行</li>
							<li>中信银行</li>
							<li>交通银行</li>
							<li>华夏银行</li>
							<li>招商银行</li>
							<li>兴业银行</li>
							<li>广发银行</li>
							<li>平安银行</li>
							<li>上海浦东发展银行</li>
							<li>恒丰银行</li>
							<li>浙商银行</li>
							<li>渤海银行</li>
							<li>中国邮政储蓄银行</li>
							<li>城市商业银行</li>
							<li>北京银行</li>
							<li>天津银行</li>
							<li>河北银行</li>
							<li>沧州银行</li>
							<li>唐山市商业银行</li>
							<li>承德银行</li>
							<li>张家口市商业银行</li>
							<li>秦皇岛银行</li>
							<li>邢台银行</li>
							<li>廊坊银行</li>
							<li>保定银行</li>
							<li>邯郸银行</li>
							<li>衡水银行</li>
							<li>晋商银行</li>
							<li>大同市商业银行</li>
							<li>长治银行</li>
							<li>其他</li> -->
						</ul>
					</li>
					<li class='unionitem cfix bank_name'>
						<span>银行:</span>
						<input class='fright' type="text" placeholder="请输入银行名称" v-model='bankOther'>
					</li>
					<li class='unionitem cfix'>
						<a>开户支行:</a>
						<input class='fright' type="text" placeholder="请输入开户支行" v-model='subBranch'>
					</li>
					<li class='unionitem cfix'> 
						<span>银行卡号:</span>
						<input class='fright' type="text" placeholder="请输入银行卡号" v-model='cardNumber' @keyup='cardkeyup'>
					</li>
				</ul>
			</div>
			<button id='nextSure' @click='nextSure'>提交</button>
		</div>
		<!-- 提现说明 -->
		<div id='withdesc' :style='showDesc'>
			<h3>提现说明:</h3>
			<p class='f6' v-for='(value,index) in wDesc' v-html='value'></p>
			<a class='fblue' :href="tel"><span v-text='returnTel'></span></a>
		</div> 
	</div>
	<script src="__PUBLIC__/Home/js/vue.min.js"></script>
	<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
	<script src="__PUBLIC__/Home/amazeui/assets/js/amazeui.min.js"></script>
	<script src="__PUBLIC__/Home/js/public.js"></script>
	<!-- <script src="__PUBLIC__/Home/js/upimg.js"></script> -->
	<!-- <script src="__PUBLIC__/Home/js/webuploader.js"></script> -->
	<script src='__PUBLIC__/Home/js/downfresh.js'></script>
	<script src="__PUBLIC__/Home/vConsole-3.1.0/dist/vconsole.min.js"></script>
	<script>
		// 可提现金额，冻结金额
	 	var balance = JSON.parse('{{$enmoney|json_encode}}');
		var vConsole = new VConsole();
		// 提交数据
		function upData(data){
			console.log('data: ',data);
			$.ajax({
				url: '{{:U("Home/Withdraw/getBankMsg")}}',
				type: 'post',
				data: {data: data},
				success: function(res){
					console.log('res: ',res);
					if(res.code == 200){
						noticeFn({text: '提交成功'});
						setTimeout(function(){
							location.href = '{{:U("Home/Index/index")}}';
						},300);
					}else{
						noticeFn({text: '提交失败，请稍后再试'});
					}
				},
				error: function(err){
					console.log('err: ',err);
					noticeFn({text: '系统出错，请稍后再试'});
				}
			})
		}
		// 查询旧账号
		function getCard(callback){
			$.ajax({
				url: '{{:U("Home/Withdraw/havaBank")}}',
				type: 'get',
				success: function(res){
					console.log('res: ',res);
					callback(res);
				},
				error:function(err){
					console.log('err: ',err);
				}
			})
		}

	</script>
	<script src="__PUBLIC__/Home/js/withdraw/index.js"></script>
</body>
</html>