<include file="Public/header" />
<div class="content">
    <include file="Public/nav" />
    <div class="row-fluid fl" id="main">
        <div class="tableBox">
            <div class="titleBar">提现管理/<span>提现列表</span></div>
            <form class="form-search" action="__URL__/index" method="post">
                <span class="select-box">开户名:
                    <input type="text" class="input-medium name" name="name" placeholder="请输入姓名" style="width: 100px;"/ >
                </span>
                <span class="select-box">银行名:
                    <input type="text" class="input-medium choose" name="choose" placeholder="请输入银行名" style="width: 100px;"/ >
                </span>
                <span class="select-box">银行卡号:
                    <input type="text" class="input-medium bank" name="bank" placeholder="请输入银行卡号" style="width: 100px;"/ >
                </span> 
                <span class="select-box">状态:
                    <select class="select" size="1" style="width: 100px;" name="status">
                        <option value="" selected>- 提现状态 -</option>
                        <option value="1">待审核</option>
                        <option value="2">完成</option>
                        <option value="3">失败</option>
                    </select>
                    <!-- <input type="text" class="input-medium address" name="address" placeholder="请输入地址" style="width: 100px;"/ > -->
                </span>            
                <div class="submitBtn">
                    <button type="submit" name="output" value="1" class="btn fr mbtn" style="float: left;color: #8f0911;background-color: #eee;"><i class="layui-icon">&#xe62f;</i> 导出</button>
                    <button type="reset" class="btn fr mbtn" style="color: #8f0911;background-color: #eee;"><i class="layui-icon">&#x1002;</i> 重置</button>
                    <button type="submit" name="search" value="1" class="btn fr mbtn" style="color: #8f0911;background-color: #eee;"><i class="layui-icon">&#xe615;</i> 查找</button>
                </div>               
            </form>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>提现ID</th>
                    <th>开户名</th>
                    <th>银行名字</th>
                    <th>开户支行</th>
                    <th>银行卡号</th>
                    <th>提现金额</th>
                    <th>提现人</th>
                    <th>审核人</th>
                    <th>转账图片</th>
                    <th>提现申请时间</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                    <notempty name="list">
                    <foreach name="list" item="vo" key="key">
                    <tr>
                        <td>{{$vo.id}}</td>
                        <td>{{$vo.name}}</td>
                        <td>{{$vo.choose}}</td>
                        <td>{{$vo.acc_open}}</td>
                        <td>{{$vo.bank}}</td>
                        <td>{{$vo.money}}</td>
                        <td>{{$vo.uid}}</td>
                        <td>{{$vo.vid}}</td>
                        <td>
                            <empty name="vo.pic">
                                <a class="btn btn-white _send" href="javascript:;" bankId="{{$vo.id}}" >添加转账图片</a>
                            <else />
                                <a class="_send" href="javascript:;" bankId="{{$vo.id}}" ><img width="100" src="__PUBLIC__/{{$vo['pic']}}"></a>
                                
                            </empty>
                        </td>
                        <td>{{$vo.create_time|date='Y-m-d H:i:s',###}}</td>
                        <td>{{$vo.status}}</td>
                        <td>
                            <if condition="$vo['status'] eq 待审核 "> <a href="__URL__/check/id/{{$vo.id}}">审核</a>
                                <else /> 转账完成
                                </if>
                            
                        </td>
                    </tr>
                    </foreach>
                    <else />
                    <tr>
                        <td colspan="10">查无数据</td>
                    </tr>
                    </notempty>
                </tbody>
            </table>
            <div class="pagination">
                <ul>
                    {{$button}}
                </ul>
            </div>
            <script>
                
                $('.pagination ul a').unwrap('div').wrap('<li></li>');
                $('.pagination ul span').wrap('<li class="active"></li>')
                
                 /**************** 搜索关键字保留 -- 开始 ******************/
                    var srearchInfo = {};
                    var name, choose, bank, status
                    /**
                     * name：开户名, choose：银行, bank：银行卡号, status：提现状态, 
                     */
                    // 点击搜索
                    $("button[name='search']").click(function(){
                        setSearchWord();
                    })
                    function setSearchWord(){
                        sessionStorage.setItem('search', '');   // 初始化

                        name = $('.name').val();
                        choose = $('.choose').val();
                        bank = $('.bank').val();
                        if($('select>option:selected').val()){
                            status = Number($('select>option:selected').val());
                        }
                       
                        srearchInfo['name'] = name;
                        srearchInfo['choose'] = choose;
                        srearchInfo['bank'] = bank;
                        srearchInfo['status'] = status;
                        
                        sessionStorage.setItem('search', JSON.stringify(srearchInfo));
                    }
                    // 搜索关键字保留
                    if(sessionStorage.getItem('search')){
                        var srearchInfo = JSON.parse(sessionStorage.getItem('search'));
                        if($('.form-search').length){
                            // console.log(srearchInfo)
                            $('.name').val(srearchInfo['name']);
                            $('.choose').val(srearchInfo['choose']);
                            $('.bank').val(srearchInfo['bank']);
                            if(srearchInfo['status']){
                                $('select>option').eq(srearchInfo['status'])[0].selected = true;
                            }
                           
                            setTimeout(function(){
                                sessionStorage.setItem('search', '');   // 初始化
                            },500)
                        }
                    }
                    // 重置搜索结果
                    $('button[type="reset"]').click(function(){
                        location.href = '{{:U("Admin/Bank/index")}}';

                    })
                    
                /**************** 搜索关键字保留 -- 结束 ******************/





                

            </script>
        </div>
        
        <!-- **************** 转账图片上传 -- 开始 ****************** -->
        <!-- 弹框信息 -->
        <div class="modal fade" id="_send" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true" style='width:46%;height:300px;'>
            <div class="" style='box-sizing:border-box;padding:5px;margin-left:-10px;' >
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            上传转账记录图片
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form id="_orders" class="form-inline" action="{{:U('edit')}}" method="post" enctype="multipart/form-data">
                            <table class="table table-striped table-bordered table-hover table-condensed">
                                <tr>
                                    <th>
                                        请选择图片:
                                    </th>
                                    <td>
                                        <input class="input-medium" type="file" name="pic" id="input_pic" style="width:100%;vertical-align:top;">
                                        <input  type="hidden" name="id" id="exp_id" >

                                    </td>
                                </tr>
                            </table>

                            <div class="text-right" style="margin-top: 30px;">
                                <input class="btn btn-info _send_submit_button" type="button" value="取消" style='width:14%;'>&nbsp;&nbsp;&nbsp;
                                <input class="btn btn-success _send_submit_button" type="button" value="确定" style='width:14%;'>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /**************** 转账图片上传 -- 结束 ******************/ -->

        <script type="text/javascript">
            // 弹框信息
                var pic_bool = false;
                $('table tr th').css('vertical-align','middle');
                $('._send').click(function(){
                    $('#_send').modal('show');
                    var id = $(this).attr('bankId');
                    $('#exp_id').val(id);
                });

                $("#input_pic").click(function(){
                    // alert(1);
                    pic_bool = true;
                })

                $('._send_submit_button').eq(0).click(function(){
                    $('#_send').modal('hide');
                });

                $('._send_submit_button').eq(1).click(function(){
                    
                    if(pic_bool){
                        $('#_orders').submit();
                    }else{
                        alert('请选择上传图片');
                        return false;
                     }
                   
                });

        </script>
        <!-- footer part -->
        <include file="Public/footer" />
    </div>
</div>